@(echoForm: Form[models.EchoForm])
@main("Echos") {
    <div class="echo-form">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="inverse-page-header">echos</h1>
                    <form id="echo-form" class="form" role="form" action="./">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="input-group">
                                    <input id="post-message" type="text" class="form-control" placeholder="Say something" required>
                                    <span class="input-group-btn">
                                        <button id="post-btn" class="btn btn-default" type="button"><span class="glyphicon glyphicon-bullhorn"></span></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div id="echo-result" class="panel panel-default">
                    <div class="panel-heading">echo</div>
                    <table class="table">
                    </table>
                </div>
                <div id="echos-result" class="panel panel-default">
                    <div class="panel-heading">echos</div>
                    <table class="table">
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="@routes.Assets.at("js/main.js")"></script>
}