@(echoForm: Form[models.EchoForm])
@main("Echos") {
    <h1 class="page-header">Echos</h1>
    <form class="form" role="form" action="./">
        <div class="row">
            <div class="col-xs-12">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Say something" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-bullhorn"></span></button>
                    </span>
                </div>
            </div>
        </div>
    </form>
}